.item {
    white-space: normal;
}


button > .remove, button > .remove:hover {
    color: red;
}

button > .add, button > .add:hover {
    color: green;
}

.item-button-right > button:last-child {
    top: 50px;
}