.item {
    white-space: normal;
}


button.ion-minus-circled, button.ion-minus-circled:hover {
    color: red;
}

button.ion-plus-circled, button.ion-plus-circled:hover {
    color: green;
}

.item-button-right > button:last-child {
    top: 50px;
}