button.md-fab.md-mini > md-icon{
    color: white !important;
}

button.remove {
    background-color: red !important;
}

button.add {
    background-color: green !important;
}
button.delete {
    background-color: slategray !important;
}

md-list md-list-item .md-list-item-text > h3 {
    white-space: normal !important;
}

.md-button.md-fab.fixed {
    position: fixed;
}

md-dialog md-dialog-content >:first-child {
    margin: auto;
}

md-dialog md-dialog-content md-card md-card-content {
    padding-bottom: 0;
}

md-list {
    padding: 0;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    color: white;
}

md-list-item .md-avatar, md-list-item .md-list-item-inner .md-avatar {
    width: 50px;
    height: 50px;
}

md-list-item .md-avatar, md-list-item .md-avatar-icon, md-list-item .md-list-item-inner .md-avatar, md-list-item .md-list-item-inner .md-avatar-icon {
    border-radius: 10%;
}