<div class="row col s12 m7">
 <ul class="collection">
  <li class="collection-item" ng-repeat="(name, p) in products">
    <img src="{{p.image}}" alt="{{p.name}}">
    <span class="title">{{p.name}}</span>
    <div class="secondary-content">
     <span class="badge">{{p.qty}}</span>
     <a class="btn-floating waves-effect waves-light remove" ng-click="setQty(p, true)"><i class="material-icons">remove</i></a>
     <a class="btn-floating waves-effect waves-light add" ng-click="setQty(p, false)"><i class="material-icons">add</i></a>
    </div>
  </li>
 </ul>
</div>