.collection {
    .collection-item {
        padding-left: 72px;
        
        min-height: 60px;
        
        img {
            position: absolute;
            width: 42px;
            height: 42px;
            left: 15px;
        }
        
        .title {
            font-size: 16px;
            
            display: inline-block;
            max-width: 65%;
            
            word-wrap: break-word;
        }
        
        .secondary-content {
            .badge {
                position: relative;
            }
        }
    }
}