.navbar-fixed {
    height: 97px;
}

.tabs {
    a {
        i.material-icons {
            padding-right: 0.35em;
            font-size: 1.2em;
        }
    }
}

.add, .add:hover {
    background-color: green;
}

.remove, .remove:hover {
    background-color: red;
}